:root {
    --color-wedding-1: #FEF3E2;
    --color-wedding-2: #BEC6A0;
    --color-wedding-3: #708871;
    --color-wedding-4: #606676;

    --font-size-large: 24pt;
    margin: 0;
    font-size: 16pt;
}

body {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background: hsla(352, 63%, 97%, 1);
    /* background-color: color-mix(in srgb, var(--color-wedding-1), #000 10%); */
}

.fancy {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

#heading {
    background: var(--color-wedding-1);
    font-size: var(--font-size-large);
    min-height: 4rem;
    display: flex; 
    font-family: 'Pinyon Script', cursive; /* Đảm bảo font đã được thiết lập */
    align-items: center;
    justify-content: center;
}

.carousel-item { 
    position: relative;
}

.carousel-item img { 
    width: 100%;
    margin: auto;
}

.carousel-tint {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0%;
    left: 0%;
}

.carousel-overlay {
    position: absolute; 
    /* margin: auto; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    opacity: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 8vmin; */
    /* width: 100%; */
    flex-direction: column;
    display: flex;
    align-contents: center;
    align-items: center;
}


.stroke {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

/* Increase padding on large screens */
/* @media only screen and (min-width: 768px) { */
/*     #container { */
/*         max-width: 1000px; */
/*         margin: auto;  */
/*     } */
/* } */

/*
 * Timer CSS
 * =========
 */
.timer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;
}

/*
 * Navigation
 */
.nav {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    background-color: var(--color-wedding-2);
}

.nav-link {
    display: block;
    color: var(--color-wedding-3);
}

/*
 * Bride and groom
 */
#couple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.parent-name {
    font-weight: bold;
    text-transform: uppercase;
}

.parent-name:after, .couple-name:after {
    content:"\a";
    white-space: pre;
}

#groom-info {
    padding-top: 1rem;
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 3rem;
}

#bride-info {
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
}

.couple-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.couple-row {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.couple-block {
    width: 50%;
    background-color: var(--color-wedding-1);
}

@media only screen and (max-width: 1000px) {
    .couple-row {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .couple-row {
        flex-direction: column;
    }
    .couple-row:last-child {
        flex-direction: column-reverse;
    }
    .couple-block {
        width: 100%;
    }
}



/*
 * Sectioning
 */
.section-title {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 3rem;
    color: var(--color-wedding-4);
}

@media only screen and (max-width: 991px) {
    .section-title {
        margin-bottom: 42px;
    }
}

/* CSS cho Masonry Layout */
.masonry {
  column-count: 3; /* Số lượng cột cho bố cục */
  column-gap: 10px; /* Khoảng cách giữa các cột */
  max-width: 70vw;
  margin: 20px auto; /* Căn giữa Masonry Layout */
}

@media only screen and (max-width: 768px) {
  .masonry {
      column-count: 2; /* Giảm số lượng cột trên màn hình trung bình */
      max-width: calc(100vw - 20px);
  }
}

@media only screen and (max-width: 512px) {
  .masonry {
      column-count: 1; /* Giảm số lượng cột trên màn hình trung bình */
  }
}

.masonry-item {
  break-inside: avoid; /* Tránh ngắt giữa cột */
  margin-bottom: 10px; /* Khoảng cách giữa các mục theo chiều dọc */
}

/* Image overlay hover */
.overlay-hover {
    cursor: pointer;
    position: relative;
}

.album-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.overlay-hover:first-child:hover:after {
    content: '_'; /* won't display unless there is content */
    color: transparent;
    position: absolute;
    top: 0%; left: 0%; width: 100%; height: 100%;
    background: white;
    opacity: 0.1618;
}

.overlay-hover:first-child:hover:after {
}

.snowfall-flakes {
    position: absolute;
    z-index: 10;
    animation: fall 20s ease-in-out infinite;
}

@keyframes fall {
    from {
        transform: translateY(-1px);
        opacity: 1; /* Hoặc loại bỏ dòng này nếu không cần */
    }
    to {
        transform: translateY(300vh); 
        opacity: 0.5; /* Hoặc loại bỏ dòng này nếu không cần */
    }
}

/* Music button */
#music-button {
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--color-wedding-2);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
