@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/wedding/fonts/Alegreya/Alegreya-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(/wedding/fonts/Alegreya/Alegreya-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/wedding/fonts/Great_Vibes/GreatVibes-Regular.ttf) format('truetype');
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(/wedding/fonts/MaterialSymbols/MaterialSymbolsOutlined.woff2) format('woff2');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url(/wedding/fonts/Dancing_Script/static/DancingScript-Regular.ttf) format('truetype');
}

.mdi-icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
