<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="slug" content="/wedding"/>
        <meta name="sprite-dir" content="/wedding/images/icons/"/>
        <meta name="music-dir" content="/wedding/musics/"/>

        <title>Dũng & Trang</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/wedding/css/bootstrap.min.css" rel="stylesheet">
        <link href="/wedding/css/custom.css" rel="stylesheet">
        <script src="/wedding/js/bootstrap.min.js"></script>
        <script src="/wedding/js/timer.js"></script>
        <script src="/wedding/js/custom.js"></script>

        <!-- lightgallery plugins -->
        <link rel="stylesheet" href="/wedding/css/lightgallery-bundle.css" />
        <script src="/wedding/js/lightgallery.min.js"></script>
        <script src="/wedding/js/lg-autoplay.min.js"></script>
        <script src="/wedding/js/lg-fullscreen.min.js"></script>
        <script src="/wedding/js/lg-zoom.min.js"></script>
        <script src="/wedding/js/lg-thumbnail.min.js"></script>

        <!-- icons -->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

        <!-- Google font API -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Great+Vibes&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <noscript>
                You need to enable JavaScript to run this website.
            </noscript>

            <!-- overlay container -->
            <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for link in carousel_images %}
                    <button
                        type="button"
                        data-bs-target="#mycarousel"
                        data-bs-slide-to="{{loop.index}}"
                        {% if loop.index0 == 0 %}
                        class="active"
                        {% endif %}
                        aria-current="true"
                        aria-label="Slide {{loop.index}}">
                    </button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for link in carousel_images %}
                        {% if loop.index0 == 0 %}
                        <div class="carousel-item active" data="{{loop.index0}}">
                        {% else %}
                        <div class="carousel-item " data="{{loop.index0}}">
                        {% endif %}
                        <div class="carousel-crop"
                            style="background-image: url('/wedding/{{ link }}')">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mycarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <!-- overlay tint -->
                <div class='carousel-tint'></div>

                <!-- the overlay text -->
                <div class="carousel-overlay lh-sm w-100">
                    <p class="fancy stroke fs-1 text-wrap"
                    style="text-align:center">
                    <span>Ngọc Dũng</span>
                    <br class="d-sm-none">
                    <span>&nbsp;&&nbsp;</span>
                    <br class="d-sm-none">
                    <span>Minh Trang</span>
                    </p>
                    <!-- The timer -->
                    <div style="margin-top: -1rem" class="d-sm-none"></div>
                    <div class="stroke timer fs-2">
                        <p class="timer-item text-center">
                        <span id="timer-days"></span><br/>Ngày
                        </p>
                        <p class="timer-item text-center">
                        <span id="timer-hours"></span><br/>Giờ
                        </p>
                        <p class="timer-item text-center">
                        <span id="timer-minutes"></span><br/>Phút
                        </p>
                        <p class="timer-item text-center">
                        <span id="timer-seconds"></span><br/>Giây
                        </p>
                    </div>
                </div>
            </div>

            <!-- navigation bar -->
            <nav class="nav">
                <a href="#couple" class="nav-link">Cặp đôi</a>
                <a href="#album" class="nav-link">Ảnh cưới</a>
                <a href="#wishes" class="nav-link">Lời chúc</a>
                <a href="#events" class="nav-link">Tiệc cưới</a>
                <a href="#mung-cuoi" class="nav-link">Mừng cưới</a>
            </nav>

            <!-- couple introduction -->
            <section class="section" id="section-couple">
                <p class="section-title fancy" style="margin-top: 1.5rem">Cặp đôi</p>
                <div id="couple" class="couple-container">
                    <div class="couple-row">
                        <img src="/wedding/images/groom.png" class="couple-block"/>
                        <div id="groom-info" class="couple-block">
                            <span class="fancy couple-name">Đỗ Ngọc Dũng</span>
                            <span class="parent-title">Con ông:&nbsp;</span>
                            <span class="parent-name">Đỗ Như Hiến</span>
                            <span class="parent-title">Con bà:&nbsp;</span>
                            <span class="parent-name">Nguyễn Thị Khởi</span>
                        </div>
                    </div>
                    <div class="couple-row">
                        <div id="bride-info" class="couple-block">
                            <span class="fancy couple-name">Trần Thị Minh Trang</span>
                            <span class="parent-title">Con ông:&nbsp;</span>
                            <span class="parent-name">Trần Văn Nhơn</span>
                            <span class="parent-title">Con bà:&nbsp;</span>
                            <span class="parent-name">Vũ Thị Thúy</span>
                        </div>
                        <img src="/wedding/images/bride.png" class="couple-block"/>
                    </div>
                </div>
            </section>

            <!-- cô dâu chú rể -->
            <section id="section-gallery" class="section">
                <p id="album" class="section-title fancy">Ảnh cưới</p>
                <div class="masonry" id="lightgallery">
                    {% for link in album_images %}
                    <a class="masonry-item" href="/wedding/{{link}}">
                        <div class="overlay-hover">
                            <img
                                src="/wedding/{{ link }}"
                                alt="Ảnh {{ loop.index0 }}"
                                class="album-img"/>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <button
                    id="gallery-view-more"
                    type="button"
                    class="btn btn-primary">
                    Xem thêm
                </button>
            </section>

            <!-- cô dâu chú rể -->
            <section id="section-wishes" class="section">
                <p id="wishes" class="section-title fancy">Lời chúc</p>
            </section>

            <!-- address and time -->
            <section id="section-events" class="section">
                <p id="events" class="section-title fancy">Tiệc cưới&nbsp;&&nbsp;lễ thành hôn</p>
                <div class="event-container">
                    <!-- groom's house event -->
                    <div class="wedding-event">
                        <!-- the map -->
                        <div class="iframe-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59572.92154579399!2d105.48013112372361!3d21.060373382562677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345f37edc0159f%3A0xbbc7b78946254831!2zNzUgxJBUNDE2LCBUcnVuZyBTxqFuIFRy4bqnbSwgU8ahbiBUw6J5LCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1725000804234!5m2!1sen!2s"
                                width="400px" height="200px"
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"
                                class="w-100"></iframe>
                        </div>
                        <!-- event info -->
                        <div class="event-info">
                            <header>nhà trai</header>
                            <div class="with-icon">
                                <span class="material-symbols-outlined">
                                    schedule
                                </span>
                                <span class="event-time">
                                    Thứ 4, ngày abc, xyz
                                </span>
                            </div>
                            <div class="with-icon">
                                <span class="material-symbols-outlined">
                                    location_on
                                </span>
                                <span class="event-location">
                                    Số nhà 75, Ngõ 272, Đường 416, Khu Tập thể HVPKKQ, Kim Sơn, Sơn Tây, Hà Nội
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- bride's house event -->
                    <div class="wedding-event">
                        <!-- map -->
                        <div class="iframe-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59572.92154579399!2d105.48013112372361!3d21.060373382562677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345f37edc0159f%3A0xbbc7b78946254831!2zNzUgxJBUNDE2LCBUcnVuZyBTxqFuIFRy4bqnbSwgU8ahbiBUw6J5LCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1725000804234!5m2!1sen!2s"
                                width="400" height="200"
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"
                                class="w-100"></iframe>
                        </div>
                        <!-- event info -->
                        <div class="event-info">
                            <br>
                            <header>nhà gái</header>
                            <div class="with-icon">
                                <span class="material-symbols-outlined">
                                    schedule
                                </span>
                                <span class="event-time">
                                    Thứ 4, ngày abc, xyz
                                </span>
                            </div>
                            <div class="with-icon">
                                <span class="material-symbols-outlined">
                                    location_on
                                </span>
                                <span class="event-location">
                                    Thảo Nguyên Resort, Quốc Lộ 6, Mộc Châu, Sơn La
                                </span>
                            </div>
                        </div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </section>

            <!-- footer image -->
            <footer id="footer-container">
                <div
                    id="footer-img"
                    style="background-image: url('/wedding/{{ footer_image }}');">
                </div>
                <div id="footer-overlay">
                </div>
                <div id="footer-heart">
                    <img src="/wedding/images/icons/heart-white.svg" width="100%"/>
                </div>
            </footer>

            <!-- music playing button -->
            <div class="overlay-hover">
                <div id="music-button" align="center">
                    <span class="material-symbols-outlined"
                        id="music-button-icon">
                        music_note
                    </span>
                </div>
            </div>

            <!-- banking modal -->
            <div class="modal fade" id="modal-mung-cuoi">
                "HELLO"
            </div>
    </body>
</html>

