<html lang="en">
    <head>
        <meta charset="utf-8"/>
        {% for sprite in sprites %}
        <meta name="sprite" content="/wedding/{{sprite}}"/>
        {% endfor %}
        <link rel="icon" type="image/x-icon" href="/wedding/favicon.ico">

        <title>Dũng & Trang</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/wedding/css/bootstrap.min.css" rel="stylesheet">
        <link href="/wedding/css/custom-fonts.css" rel="stylesheet">
        <link href="/wedding/css/custom.css" rel="stylesheet">
        <script src="/wedding/js/bootstrap.min.js"></script>
        <script src="/wedding/js/timer.js"></script>
        <script src="/wedding/js/custom.js"></script>

        <!-- lightgallery plugins -->
        <link rel="stylesheet" href="/wedding/css/lightgallery-bundle.css" />
        <script src="/wedding/js/lightgallery.min.js"></script>
        <script src="/wedding/js/lg-autoplay.min.js"></script>
        <script src="/wedding/js/lg-fullscreen.min.js"></script>
        <script src="/wedding/js/lg-zoom.min.js"></script>
        <script src="/wedding/js/lg-thumbnail.min.js"></script>
    </head>
    <body>
        <div id="container">
            <noscript>
                You need to enable JavaScript to run this website.
            </noscript>

            <!-- image carousel -->
            <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
                <!-- carousel images -->
                <div class="carousel-inner">
                    {% for link in carousel_images %}
                    <!-- carousel image {{ loop.index0 }} -->
                    <div
                        {% if loop.index0 == 0 %}
                        class="carousel-item active"
                        {% else %}
                        class="carousel-item"
                        {% endif %}
                        data="{{loop.index0}}">
                        <div
                            class="carousel-crop"
                            style="background-image: url('/wedding/{{ link }}')">
                        </div>
                    </div>
                    <!-- end carousel image {{ loop.index0 }} -->
                    {% endfor %}
                </div>

                <!-- control buttons -->
                <button
                    class="carousel-control-prev"
                    type="button" data-bs-target="#mycarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true">
                    </span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#mycarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true">
                    </span>
                    <span class="visually-hidden">Next</span>
                </button>

                <!-- overlay tint -->
                <div class='carousel-tint'></div>
                <div class="carousel-overlay lh-sm w-100">
                    <!-- the overlay text -->
                    <p class="fancy stroke fs-1 text-wrap" style="text-align:center">
                        <span>Ngọc Dũng</span>
                        <br class="d-sm-none"/>
                        <span>&nbsp;&&nbsp;</span>
                        <br class="d-sm-none"/>
                        <span>Minh Trang</span>
                    </p>

                    <!-- The timer -->
                    <div class="stroke timer fs-2">
                        <p class="timer-item text-center">
                            <span id="timer-days"></span><br/>Ngày
                        </p>
                        <p class="timer-item text-center">
                            <span id="timer-hours"></span><br/>Giờ
                        </p>
                        <p class="timer-item text-center">
                            <span id="timer-minutes"></span><br/>Phút
                        </p>
                        <p class="timer-item text-center">
                            <span id="timer-seconds"></span><br/>Giây
                        </p>
                        <!--end timer-->
                    </div>
                    <!--end overlay-->
                </div>
                <!--end carousel-->
            </div>

            <!-- navigation bar -->
            <nav class="nav">
                <a href="#couple" class="my-nav-link">Cặp đôi</a>
                <a href="#album" class="my-nav-link">Ảnh cưới</a>
                <a href="#section-wishes" class="my-nav-link">Chúc phúc</a>
                <a href="#events" class="my-nav-link">Tiệc cưới</a>
                <a href="javascript:void(0)" class="my-nav-link donate-open">Mừng cưới</a>
            </nav>

            <!-- couple introduction -->
            <section class="section" id="section-couple">
                <p class="section-title fancy">Cặp đôi</p>
                <div id="couple" class="couple-container">
                    <div class="couple-row">
                        <img src="/wedding/{{ groom_image }}" class="couple-block"/>
                        <div id="groom-info" class="couple-block">
                            <span class="fancy couple-name">Đỗ Ngọc Dũng</span>
                            <span class="parent-title">Con ông:&nbsp;</span>
                            <span class="parent-name">Đỗ Như Hiến</span>
                            <span class="parent-title">Con bà:&nbsp;</span>
                            <span class="parent-name">Nguyễn Thị Khởi</span>
                        </div>
                    </div>
                    <div class="couple-row">
                        <div id="bride-info" class="couple-block">
                            <span class="fancy couple-name">Trần Thị Minh Trang</span>
                            <span class="parent-title">Con ông:&nbsp;</span>
                            <span class="parent-name">Trần Văn Nhơn</span>
                            <span class="parent-title">Con bà:&nbsp;</span>
                            <span class="parent-name">Vũ Thị Thúy</span>
                        </div>
                        <img src="/wedding/{{ bride_image }}" class="couple-block"/>
                    </div>
                </div>
            </section>

            <!-- cô dâu chú rể -->
            <section id="section-gallery" class="section">
                <div class="section-bg-image"></div>
                <p id="album" class="section-title fancy">Thư viện ảnh cưới</p>
                <div class="masonry" id="lightgallery">
                    {% for link in album_images %}
                    <a class="masonry-item" href="/wedding/{{link}}">
                        <div class="overlay-hover">
                            <img
                            src="/wedding/{{ link }}"
                            alt="Ảnh {{ loop.index0 }}"
                            class="album-img m-shadow"/>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <button
                    id="gallery-view-more"
                    type="button"
                    class="btn btn-primary">
                    Xem thêm
                </button>
            </section>

            <!-- cô dâu chú rể -->
            <section id="section-wishes" class="section">
                <div class="section-bg-image"></div>
                <p class="section-title fancy">Chúc phúc</p>
                <div class="wish-container">
                    <div id="wish-show" class="wish-box m-shadow">
                        <ul id="wish-box"></ul>
                    </div>
                    <div id="wish-send" class="wish-box m-shadow">
                        <input type="text" 
                        placeholder="Nhập họ tên của bạn"
                        name="wish-name" id="wish-name"/>
                        <textarea
                            placeholder="Nhập lời chúc của bạn"
                            name="wish-content"
                            id="wish-content">
                        </textarea>
                        <button type="button" name="wish-submit">
                            Gửi lời chúc
                        </button>
                    </div>
                </div>
            </section>

            <!-- address and time -->
            <section id="section-events" class="section">
                <p id="events" class="section-title fancy">Tiệc cưới&nbsp;&&nbsp;Lễ thành hôn</p>
                {% if guest_name %}
                <script>
                </script>
                <div class="event-container"
                    id="invitation"
                    style='margin-bottom: 2rem; border-radius: 0'>
                    <div class="wedding-event m-shadow" style="border-radius: 0pt">
                        <img src="invitation.webp" width="100%"/>
                    </div>
                    <div class="wedding-event m-shadow" style="border-radius: 0pt">
                        <img src="/wedding/{{ invite_card_url }}" width="100%"/>
                    </div>
                </div>
                {% endif %}
                <div class="event-container">
                    {% for event in events %}
                    <div class="wedding-event m-shadow">
                        <!-- the map -->
                        <div class="iframe-map">
                            <iframe
                                src="{{ event["map-url"] }}"
                                width="400px" height="200px"
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"
                                class="w-100"></iframe>
                        </div>
                        <!-- event info -->
                        <div class="event-info">
                            <header>{{ event["name"] }}</header>
                            <div class="with-icon">
                                <span class="mdi-icon">
                                    schedule
                                </span>
                                <span class="event-time">
                                    {{ event["time"] }}
                                </span>
                            </div>
                            <div class="with-icon">
                                <span class="mdi-icon">
                                    location_on
                                </span>
                                <span class="event-location">
                                    {{ event["location"] }}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="section-bg-image"></div>
            </section>

            <!-- footer image -->
            <footer id="footer-container">
                <div
                    id="footer-img"
                    style="background-image: url('/wedding/{{ footer_image }}');">
                </div>
                <div id="footer-overlay">
                </div>
                <div id="footer-heart">
                    <img src="/wedding/images/backgrounds/heart-white.svg" width="100%"/>
                </div>
            </footer>


            <!-- floating action action buttons -->
            <div class="fab-container">
                <!-- wishes button -->
                <a href="#section-wishes" class="fab-button m-shadow" id="fab-wish">
                    <span class="mdi-icon">
                        outgoing_mail
                    </span>
                    <span class="m-shadow fab-tooltip">Chúc phúc</span>
                </a>

                <!-- donation button -->
                <a href="javascript:void(0)" class="fab-button m-shadow" id="fab-donate">
                    <span class="mdi-icon">
                        credit_card_heart
                    </span>
                    <span class="m-shadow fab-tooltip">Mừng cưới</span>
                </a>

                <!-- music playing button -->
                <a class="fab-button m-shadow" id="music-button">
                    <span class="mdi-icon"
                        id="music-button-icon">
                        music_note
                    </span>
                    <span class="m-shadow fab-tooltip">Bật/tắt nhạc</span>
                </a>
            </div>

            <!-- banking modal -->
            <section id="section-donate" class="donate-modal">
                <div class="donate-dialog m-shadow">
                    <div class="donate-close">
                        <span class="mdi-icon">close</span>
                    </div>
                    <div class="donate-dialog-content">
                        {% for donation in donations %}
                        <div class="donate-side">
                            <p>{{ donation["title"] }}</p>
                            <div align="center">
                                <img src="/wedding/{{ donation["qr"] }}"/>
                            </div>
                            <p>Ngân hàng: <strong>{{ donation["bank"] }}</strong></p>
                            <p>Số TK: <strong>{{ donation ["account"] }}</strong></p>
                            <p>Chủ TK: <strong>{{ donation ["owner"] }}</strong></p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>

